src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="warehouse-main">
        <http:listener config-ref="HTTP_Listener_config" path="/bulk-payments/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="referencedHandler"/>
    </flow>
    <flow name="get:\warehouse:api-config">
        <flow-ref doc:name="sf-getpaymentwarehouse" doc:id="51f3360d-6999-4cc1-84e7-0baa12189813" name="sf-getpaymentwarehouse"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8254f467-23df-4b5f-9842-2635a85eed16">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	paymentResponse:payload	
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\warehouse:application\json:api-config">
		<flow-ref doc:name="sf-postpaymentwarehouse" doc:id="ff86cba0-6ed1-45a3-b8bc-4fd6885be3a3" name="sf-postpaymentwarehouse"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="dd8b6d29-a0fc-43b9-b5d1-70174787cce1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status":200,
	"message":"success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
